.wj-chat-column-holder {
    background-image: url('../img/earth.png');
    /*background-image: url('../../contour.jpg');  */
    background-size: contain;
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
}

.wj-header-holder {
    height: 9%;
    background-color: rgba(180, 180, 180, 0.3);
    text-align: left;
    font-family: 'Microsoft YaHei';
    padding: 10px;
    color: white;
}

.wj-header {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.wj-p {
    font-size: 20px;
    margin-left: 10px;
}